<ul id="freewall" class="list-unstyled">
    {{#each model as |problem|}}
    <li class="problem {{if problem.solvedByUser 'solved-by-user'}}"> 
        <div class="caption">
            <h5 class="title"> 
                {{#link-to "problems.problem" problem.id}}
                    {{ problem.id }} {{ problem.title }} 
                {{/link-to}}
            </h5>
            <div class="detail">
                <p>
                    <i class="icon glyphicon glyphicon-globe"></i>
                    共有 {{ problem.answerCount }} 人答对
                </p>
<!--                 <p>
                    <i class="icon glyphicon glyphicon-exclamation-sign"></i>
                    {{#if problem.friendSolutionCount}}
                        有 {{ problem.friendSolutionCount }} 个好友答对
                    {{else}}
                        还没有好友答对
                    {{/if}}
                </p>
                <a class="text-default">
                    <i class="icon glyphicon glyphicon-share"></i>
                    邀请组队解题
                </a> -->
            </div>
        </div>
<!--                 <div class="lock">
            <i class="icon glyphicon glyphicon-lock"></i>
        </div> -->
        <img class="thumbnail" src="{{problem.thumbnail}}">
    </li> 
    {{/each}}
    {{part-pagination total=total}}
</ul>
