<div class="modal" id="component-login">
    <div class="modal-dialog login-wrapper">
        <div class="modal-content login-body">
            <div class="left-part site-intro">
                <h2 class="site-title"> 火柴盒 </h2>
                <p class="site-question"> 
                    {{#if loadedQuestion}}
                        请写出一个函数 comb(s, n), 返回 s 集合里所有长度为 n 的子集
                    {{else}}
                        一个与 Project Euler 相似的中文网站
                    {{/if}}
                </p>
                <div class="site-btns">
                    <button class="btn btn-default" {{action 'loadRandomQuestion'}}> 划一根火柴 </button>
                    {{#if loadedQuestion}} 
                        {{#link-to 'register' class="btn btn-default" }} 新用户注册 {{/link-to}}
                        <!-- <button class="btn btn-default" {{link-to 'register'}}> 新用户注册 </button> -->
                    {{/if}}
                </div>
            </div>            
            <div class="right-part form login-form">
                <h4 class="login-title"> 登录 </h4>
                <div class="form-group">
                    {{#input-group-highlight}}
                        <div class="input-group left {{invalidEmailCSS}}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            {{input class="form-control" type="text" placeholder="邮箱" value=email}}
                        </div>
                    {{/input-group-highlight}}
                </div>
                <div class="form-group">
                    {{#input-group-highlight}}
                        <div class="input-group left {{invalidPasswordCSS}}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            {{input class="form-control" placeholder="密码" type="password" value=password}}
                        </div>
                    {{/input-group-highlight}}
                </div>
                {{#if message}}
                <div class="form-group text-danger">
                    <i class="glyphicon glyphicon-heart-empty"></i>
                    {{message}}
                </div>
                {{/if}}
                <div class="form-group">
                    <button class="btn btn-link">忘记密码</button>
                    <button class="btn btn-primary pull-right" {{action 'login'}}>
                        登录
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


